aside {
    width: 230px;
    flex-shrink: 0;
    background-color: #000000;
    padding: 0 20px;
    flex-direction: column;
    color: var(--color-text);
    overflow-y: hidden;
}
.box-logo {
    height: 90px;
    padding: 25px 0;
}
.img-logo {
    max-height: 100%;
    max-width: 100%;
}
.main-nav .list-block li {
    margin-bottom: 10px;
    position: relative;
}
.img-icon-nav {
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
}
.main-nav li:not(:first-child) .img-icon-nav {
    filter: invert(0.5);
}
.main-nav li:first-child a {
    color: var(--color-text-on-hover);
}
.main-nav li:first-child::after {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #adff2f;
}
.playlist-nav {
    flex-grow: 1;
    overflow-y: auto;
}
.playlist-nav .list-block li {
    margin-bottom: 20px;
}
.icon-plus {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}
.text-on-hover {
    color: var(--color-text-on-hover);
}
.account-nav {
    margin-top: auto;
}
.account-nav li:first-child .img-icon-nav {
    filter: invert(0.5);
    transform: translateX(-3px);
}
.profile {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #808080;
    border-radius: 50%;
}
.profile .img-icon-nav {
    width: 100%;
    border-radius: 50%;
}
.account-nav li:last-child .text-on-hover {
    margin-left: 10px;
}
.hide-mobile {
    display: none;
}
/*--------------------
    ASIDE RESPONSIVE
----------------------*/
@media screen and (max-width: 600px) {
    aside {
        width: 70px;
        align-items: center;
    }
    .hide-mobile {
        display: block;
    }
    .hide-desktop {
        display: none;
    }
    .img-logo {
        height: 30px;
    }
    .img-icon-nav {
        margin-right: 0;
    }
    .main-nav li:first-child::after {
        display: none;
    }
}