/*------------
    BUTTONS
--------------*/
button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn-xl {
    color: inherit;
    padding: 15px 40px;
}
.btn-header {
    border-radius: 30px;
    border: 1px solid white;
}