/*------------
    BUTTONS
--------------*/
button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn-xl {
    color: inherit;
    padding: 15px 40px;
}
.btn-header {
    border-radius: 30px;
    border: 1px solid white;
    margin-right: 20px;
    transition: transform 1s;
}
.btn-square {
    height: 35px;
    width: 35px;
}
.btn-plus {
    background-color: #a3a3a3;
    font-size: 1.875rem;
    font-weight: 600;
    margin-right: 10px;
}
.footer-left .btn-player-small {
    color: var(--color-text);
}
.footer-center .btn-player-medium {
    font-size: 16px;
    color: var(--color-text-on-hover);
}
.footer-center .btn-player-big {
    font-size: 24px;
    color: var(--color-text-on-hover);
}
.footer-right .btn-player-small {
    color: var(--color-text-on-hover);
}
/*----------------------
    BUTTON HEADER HOVER
------------------------*/
.btn-header:hover {
    transform: scale(1.2);
}