/*------------
    COMMON
--------------*/
.page-container {
    display: flex;
    height: calc(100% - 90px);
    background-color: #141922;
}
/*------------
    TEXT
--------------*/

/*------------
    FLEX
--------------*/

/*------------------
    MARGIN E PADDING
--------------------*/
