/*------------
    COMMON
--------------*/
.page-container {
    display: flex;
    height: calc(100% - 90px);
    background-color: #141922;
}
.list-block, .list-inline {
    list-style: none;
}
.list-block a {
    text-decoration: none;
    color: inherit;
}
.list-inline a {
    text-decoration: none;
}
img {
    max-height: 100%;
    max-width: 100%;
}
/*------------
    TEXT
--------------*/
.text-center {
    text-align: center;
}
/*------------
    FLEX
--------------*/
.d-flex {
    display: flex;
}
.row {
    display: flex;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
/*------------------
    MARGIN E PADDING
--------------------*/
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-25 {
    margin-right: 25px;
}
.mr-30 {
    margin-right: 30px;
}
.pt-100 {
    padding-top: 100px;
}