/*------------
    COMMON
--------------*/
.page-container {
    display: flex;
    height: calc(100% - 90px);
    background-color: #141922;
}
aside .list-inline {
    list-style: none;
}
aside .list-inline a {
    text-decoration: none;
    color: inherit;
}
/*------------
    TEXT
--------------*/

/*------------
    FLEX
--------------*/
.d-flex {
    display: flex;
}
.justify-content-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}
/*------------------
    MARGIN E PADDING
--------------------*/
.mb-25 {
    margin-bottom: 25px;
}