footer {
    height: 90px;
    background-color: #282828;
}
footer .row {
    height: 100%;
}
.footer-left, .footer-right {
    width: 20%;
}
.footer-center {
    flex-grow: 1;
}
.footer-left, .footer-center, .footer-right {
    border: 1px dashed white;
}
