header {
    height: 90px;
    position: fixed;
    right: 0;
    left: 230px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 20px;
    z-index: 100;
}
/*--------------------
    HEADER RESPONSIVE
----------------------*/
@media screen and (max-width: 600px) {
    header {
        left: 70px;
    }
}