/*--------------------
    MAIN
----------------------*/
main {
    width: 100%;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.category-nav .list-inline {
    flex-wrap: wrap;
}
.category-nav .list-inline li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}
.category-nav .list-inline a {
    color: var(--color-text);
}
.category-nav li:first-child::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5;
    left: calc(50% - 15px);
    width: 30px;
    height: 2px;
    background-color: #adff2f;
}
main .row {
    margin-left: -8px;
    margin-right: -8px;
    flex-wrap: wrap;
}
/*--------------------
    SECTION RECENTLY
----------------------*/
.card-song {
    width: calc(100% / 6 - 16px);
    margin: 20px 8px;
    height: 100%;
}
.img-card {
    width: 100%;
    display: block;
}
.subtitle {
    color: var(--color-text);
}
.box-image {
    position: relative;
}
/*-------------------------------
    SECTION MOST POPULAR ARTISTS
---------------------------------*/
.img-circle {
    border-radius: 50%;
}
/*--------------------
    MAIN HOVER
----------------------*/
.category-nav li:hover a {
    color: var(--color-text-on-hover);
}
.card-song:hover .img-card {
    filter: opacity(0.5);
}
.circle-play-hover {
    display: none;
    font-size: 60px;
    color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-song:hover .circle-play-hover {
    display: block;
}
.card-song:hover {
    cursor: pointer;
}
/*--------------------
    MAIN RESPONSIVE
----------------------*/
@media screen and (max-width: 1100px) {
    .card-song {
        width: calc(100% / 4 - 16px);
    }
}
@media screen and (max-width: 700px) {
    .card-song {
        width: calc(100% / 2 - 16px);
    }
}