/*--------------------
    MAIN
----------------------*/
main {
    width: calc(100% - 230px);
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.category-nav .list-inline li {
    margin-right: 20px;
}
.category-nav .list-inline a {
    color: var(--color-text);
}
main .row {
    margin-left: -8px;
    margin-right: -8px;
}
/*--------------------
    SECTION RECENTLY
----------------------*/
.card-song {
    width: calc(100% / 6 - 16px);
    margin: 0 8px;
}
.img-card {
    width: 100%;
    display: block;
}
.subtitle {
    color: var(--color-text);
}
/*-------------------------------
    SECTION MOST POPULAR ARTISTS
---------------------------------*/
.img-circle {
    border-radius: 50%;
}